<table>
<tr>
<th>Sr. No.</th>
<th>Reg. No.</th>
<th>Student Name</th>
<th>Gender</th>
<th>Category</th>
<th>Mobile Number</th>
<th>Date of Birth</th>
<th>Dues</th>
</tr>
<tr *ngFor="let student of students; index as i">
<td>{{i+1}}</td>
<td>{{student.registrationNumber}}</td>
<td>{{student.firstName}} {{student.middleName}} {{student.lastName}}</td>
<td>{{student.gender}}</td>
<td>{{student.category}}</td>
<td>{{student.mobileNumber}}</td>
<td>{{student.DOB | slice : 0:10}}</td>
<td>{{student.dues}}</td>
</tr>
<table>